* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: beige;
}

img {
  width: 100%;
}

header {
  border: 1px solid rebeccapurple;
  display: flex;
}

header .logo {
  flex: 30%;
}

header .logo img {
  border-radius: 50%;
  padding: 40px;
}

header nav {
  flex: 70%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

main {
  border: 1px solid greenyellow;
}

section {
  border: 1px solid pink;
}

.flex-2 {
  display: flex;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery article {
  min-width: 200px;
  padding: 10px;
}

.flex-2 article {
  padding: 60px;
  flex: 1;
}

.footer-columns {
  display: flex;
}

.footer-columns div {
  flex: 1;
}
