h1 {
  font-family: pyeonghwa, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 270px;
  text-align: center;

  margin: 40px 0 15px 0;
}

h2 {
  font-family: "arboria", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.14em;
  text-align: center;

  margin: 0px;
  padding: 0 0 20px 0;
}

.textbox-large {
  width: 536px;
  height: 246px;
  background-image: url(images/elements/textbox-large.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.textbox-long {
  width: 499px;
  height: 146px;
  background-image: url(images/elements/textbox-long.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.textbox-small {
  width: 306px;
  height: 147px;
  background-image: url(images/elements/textbox-small.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.screencaps-textbox {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

p.text {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  padding: 22px 54px 0 50px;
}

p.text-small {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;

  padding: 19px 40px 0 40px;
}

p.text-long {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  text-align: center;
  padding: 15px 0px 0 0px;
}

button {
  background-color: #f4f0e9;
  border: none;
  border-bottom: 1px solid black;
}

.next-button {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.065em;

  width: 73px;
  align-self: flex-end;
  margin-right: 38px;
  margin-top: -14px;
}

.next-button-2 {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.065em;

  width: 73px;
  align-self: flex-end;
  margin-right: 38px;
  margin-top: 18px;
}

.next-button-3 {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.065em;

  width: 73px;
  align-self: flex-end;
  margin-right: 38px;
  margin-top: 50px;
}

.next-button-small {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.065em;

  width: 73px;
  align-self: flex-end;
  margin-right: 34px;
  margin-top: -9px;
}

.next-button-long {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.065em;

  width: 73px;
  align-self: flex-end;
  margin-right: 34px;
  margin-top: -10px;
}

.next-button:hover,
.next-button-2:hover,
.next-button-3:hover,
.next-button-small:hover,
.next-button-long:hover {
  color: orchid;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.hot-cold-text {
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

a:hover {
  color: orchid;
  cursor: pointer;
}

body {
  margin: 0px;
  user-select: none;
}

.screen {
  background-image: url(images/backgrounds/palace-1-edited.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

#homepage-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

#ju-start {
  width: auto;
  height: 92vh;
}
#middle-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 20px;
}

#start-button {
  width: 254px;
  height: 128px;
  background-image: url(images/elements/start-button.svg);
  background-size: 100% 100%;
  background-color: unset;
  border: none;

  margin: 0 0 80px 0;
  padding: 0 0 6px 0;
  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

#md-start {
  width: auto;
  height: 78vh;
}

/* INTRO */

#intro-scene {
  background-image: url(images/backgrounds/winter-1.png);
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  position: relative;

  padding-left: 80px;
}

#ice-stone-1 {
  height: 16vh;
  width: auto;
  padding: 80px 0 0 126px;
}

#md-intro {
  height: 75vh;
  width: auto;
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
}

#textbox-intro {
  margin: 120px -340px 0 0;
  z-index: 2;
}

#ju-intro {
  height: 90vh;
  align-self: flex-end;
  position: relative;
  left: 40px;
  z-index: 1;
}

/* POISON SCENE */

#poison-scene {
  background-image: url(images/backgrounds/poison-scene.png);
  display: flex;
}

#poison-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#poison-bottle-container {
  width: 100px;
  height: 172px;
  background-image: url(images/elements/poison-bottle.png);
  background-size: cover;
}

#textbox-poison {
  margin: 200px 90px 0 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#poison-text {
  width: 48%;
  padding: 0;
}

#ju-poison {
  height: 85vh;
  width: auto;
  align-self: flex-end;
}

/* POISON SCENE SCREENCAPS */

.animate__animated.animate__fadeIn {
  --animate-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

#poison-1 {
  background-image: url(images/characters/jang-uk/Drinking-Poison-Screencaps/poison-1.png);
}

#poison-2 {
  background-image: url(images/characters/jang-uk/Drinking-Poison-Screencaps/poison-2.png);
}

#poison-3 {
  background-image: url(images/characters/jang-uk/Drinking-Poison-Screencaps/poison-3.png);
}

#poison-4 {
  background-image: url(images/characters/jang-uk/Drinking-Poison-Screencaps/poison-4.png);
}

#poison-5 {
  background-image: none;
  background-color: #262725;
}

#poison-text-5-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Translate the div back up and left by half its own width and height */
}

/* HOT COLD CHALLENGE */

#hot-cold-scene {
  background-image: url(images/backgrounds/room.png);
  display: flex;
  justify-content: space-around;
}

#textbox-hot-cold {
  margin: 160px 0 0 120px;
}

#ju-hot-cold {
  height: 85vh;
  width: auto;
  align-self: flex-end;
}

/* GUESSING CHALLENGE */

#guessing-challenge {
  background-color: #f4f0e9;
  background-image: url(images/backgrounds/white-concrete-wall.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hot-container {
  width: 170px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0 35px 90px;
}

.hot-container:hover,
.cold-container:hover {
  cursor: pointer;
}

#hot-text {
  padding-right: 10px;
  margin: 8px 0 0 0;
}

.hot-cold-picture-container {
  height: 60vh;
  width: 50vw;
  background-size: cover;
  background-position: center;
  border: 14px solid #9bcdc9;

  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-49%, -50%);
  z-index: 1;
}

#hot-cold-1 {
  background-image: url(images/characters/jang-uk/Hot-Cold-Screencaps/hot-cold-1.png);
}

#hot-cold-2 {
  background-image: url(images/characters/jang-uk/Hot-Cold-Screencaps/hot-cold-2.png);
}

#hot-cold-3 {
  background-image: url(images/characters/jang-uk/Hot-Cold-Screencaps/hot-cold-3.png);
}

#textbox-hot-cold-2 {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#hot-cold-text-3 {
  text-align: center;
  margin: 13px 0px 0px 0px;
}

.cold-container {
  width: 140px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 90px 10px 0;
}

#cold-text {
  margin: 6px 0 0 0;
}

#hot-cold-congrats {
  position: absolute;
  left: 35%;
}

/* POWERFUL HAND */

#powerful-hand-scene {
  background-image: url(images/backgrounds/yard-1.png);
  background-position: left;
}

#powerful-hand {
  height: 85vh;
  width: auto;

  position: absolute;
  bottom: 0%;
  left: 4%;
  z-index: 2;
}

#textbox-powerful-hand {
  position: absolute;
  top: 26%;
  left: 58%;
  z-index: 1;
}

/* LEAVING DANHYANGGOK */

#to-danhyanggok-scene-1 {
  background-image: url(images/backgrounds/to-danhyanggok-1.png);
  background-position: left;
}

#tgt-to-danhyanggok {
  height: 76vh;
  width: auto;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#textbox-to-danhyanggok-1 {
  position: absolute;
  bottom: 7%;
  right: 4%;
}

#to-danhyanggok-text-1 {
  text-align: left;
  padding-left: 52px;
}

#to-danhyanggok-scene-2 {
  background-image: url(images/backgrounds/to-danhyanggok-2.png);
}

#ju-to-danhyanggok {
  height: 86vh;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

#textbox-to-danhyanggok-2 {
  position: relative;
  top: 70px;
  left: 350px;
  z-index: 3;
}

#evil-spirit-1 {
  height: 55vh;
  width: auto;
  opacity: 1;

  position: absolute;
  left: 48%;
  bottom: 0;
  z-index: 2;
}

#evil-spirit-2 {
  height: 52vh;
  width: auto;
  opacity: 1;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#evil-spirit-3 {
  height: 38vh;
  width: auto;
  position: absolute;
  top: 15%;
  right: 0;
  z-index: 1;
}

/* CROWN PRINCE LEARNING TRUTH */

#cp-learning-truth-scene-1 {
  background-image: url(images/backgrounds/daeho.png);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cp-learning-truth-1 {
  height: 92vh;
  width: auto;
  align-self: flex-end;
  padding-right: 60px;
}

#textbox-learning-truth-1 {
  margin-top: 140px;
}

#cp-learning-truth-scene-2 {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cp-learning-truth-2 {
  height: 90vh;
  width: auto;
  align-self: flex-end;
  position: relative;
  z-index: 1;
}

#ice-stone-learning-truth {
  height: 20vh;
  width: auto;
  margin-left: 110px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

#ju-learning-truth-1 {
  height: 86vh;
  width: auto;
  align-self: flex-end;
  position: relative;
  z-index: 1;
}

#textbox-learning-truth-2 {
  position: absolute;
  top: 57%;
  left: 33%;
  z-index: 2;
}

/* MD TELLING JU */

#telling-ju-scene {
  background-image: url(images/backgrounds/to-danhyanggok-2.png);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#md-telling-ju {
  height: 76vh;
  width: auto;
}

#textbox-telling-ju-1 {
  align-self: center;
  margin-left: 70px;
  margin-bottom: 50px;
}

#ju-telling-ju {
  height: 80vh;
  width: auto;
}

/* PRACTICE */

#practice-scene {
  background-color: #f4f0e9;
  background-image: url(images/backgrounds/white-concrete-wall.png);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.progress {
  border: 2px solid black;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  padding: 6px;
  position: relative;
}

.greenbar {
  background: #75d852;
  width: 20%;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#progress-bar-text {
  position: absolute;
  top: 25%;
  left: 45%;
  margin: 0;
  padding: 0;
  transition: width 1000s;

  font-family: "Arboria";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.145em;
}

#textbox-practice-1 {
  margin-bottom: 100px;
}

#practice-text-1 {
  text-align: center;
}

.invisible {
  opacity: 0;
}

.ju-practice {
  width: 97vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;

  position: relative;
  bottom: 10%;
  margin: 100px 0 0 0;
  border-bottom: 3px dashed black;
}

/* FIND FISH SCENE */

#find-fish-scene {
  background-color: #f4f0e9;
  background-image: url(images/backgrounds/white-concrete-wall.png);
}

#textbox-find-fish-1 {
  position: absolute;
  left: 35%;
  top: 35%;
}

#textbox-find-fish-2 {
  position: relative;
  top: 3%;
  left: 4%;
  margin-bottom: 30px;
}

.fish-row {
  width: 95vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  margin: auto;
}

.fish-container {
  width: 100%;
  padding: 10px;
}

.fish-img {
  width: 90%;
  padding: 8px;
}

.golden-fish-container {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}


/* READY TO FIGHT SCENE */

#ready-to-fight-scene {
  background-image: url(images/backgrounds/daeho-2.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

#textbox-ready-to-fight {
  margin: 0 50px 0 0;
}

#ju-ready-to-fight {
  height: 90vh;
  width: auto;
  align-self: flex-end;
}

/* FIGHT SCENE */

#fight-scene {
  background-color: #f4f0e9;
  background-image: url(images/backgrounds/white-concrete-wall.png);
}

.fight-scenes-container {
  width: 87vw;
  height: 82vh;
  border: 3px dashed black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fight-scenes-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textbox-fight-scenes {
  position: absolute;
  bottom: 12%;
  right: 8%;
  z-index: 2;
}

#textbox-fight-7 {
  position: absolute;
  top: 12%;
  right: 7%;
}

#fight-text-7 {
  text-align: left;
  padding-left: 52px;
}

/* ENDING SCENE */

#ending-scene {
  background-image: url(images/backgrounds/daeho-2.png);
}

#cp-ending {
  height: 92vh;
  width: auto;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

#ice-stone-ending {
  height: 22vh;
  width: auto;
  position: absolute;
  top: 30%;
  left: 47%;
}

#ju-ending {
  height: 90vh;
  width: auto;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 1;
}

#textbox-ending {
  position: absolute;
  top: 54%;
  left: 32%;
  z-index: 2;
}

/* HUG SCENE */

#ending-scene-2 {
  background-image: url(images/backgrounds/bridge.png);
}

#hug-end {
  height: 90vh;
  width: auto;
  position: absolute;
  left: 10%;
  bottom: 0;
  z-index: 1;
}

#textbox-ending-2 {
  position: absolute ;
  right: 8%;
  bottom: 10%;
  z-index: 2;
}

.hide {
  display: none;
}
