h1 {
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  line-height: 110%;
  color: #7d8cc4;

  padding: 0 0 0 60px;
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

/* NAV SECTION */

.nav-top-rect {
  width: 100vw;
  height: 4.5vh;
}

.nav-bottom-rect {
  width: 100vw;
  height: 1.5vh;
  position: relative;
  top: -12px;
}

.navbar-text-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.nav-links {
  text-decoration: none;
  font-family: "Essonnes";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #7c7c7c;

  padding: 15px 15px 0 20px;
  position: relative;
  top: -10px;
}


/* MAIN PAGE SECTION */

#main-cd-players-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: -180px;
  margin-bottom: 0px;
}

.buttons-on-main {
  font-family: "Essonnes";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  text-align: center;

  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.main-cd-players {
  position: relative;
  z-index: 1;
}

#main-listen-button {
  position: relative;
  top: 380px;
  left: 30px;
  z-index: 2;
}

#main-products-button {
  position: relative;
  top: 440px;
  left: 30px;
  z-index: 2;
}

#main-why-button {
  position: relative;
  top: 510px;
  left: 30px;
  z-index: 2;
}
