@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  line-height: 110%;
  color: #7d8cc4;

  padding: 0 0 0 60px;
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  position: relative;
}

/* NAV SECTION */

.nav-top-rect {
  width: 100vw;
  height: 4.5vh;
}

.nav-bottom-rect {
  width: 100vw;
  height: 1.5vh;
  position: relative;
  top: -12px;
}

.navbar-text-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.nav-links {
  text-decoration: none;
  font-family: essonnes-display, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  color: #acacac;

  padding: 15px 15px 0 30px;
  position: relative;
  top: -10px;
}

.home-link-hover:hover {
  color: #8b8b8b;
}

.listen-link-hover:hover {
  color: #7d8cc4;
}
/* alanna's junk */
.listen-first-half {
  position: relative;
}
#listen-cd-player {
  z-index: 0;
}

#current-cd {
  position: absolute;
  top: 50px;
  left: 130px;
  z-index: 9;
}
#current-cd img {
  width: 300px;
  display: inline-block;
}
.products-link-hover:hover {
  color: #ff7b9c;
}

.why-link-hover:hover {
  color: #ffc759;
}

#current-home-link {
  color: #8b8b8b;
}

#current-listen-link {
  font-weight: 600;
  color: #7d8cc4;
}

#current-products-link {
  font-weight: 600;
  color: #ff7b9c;
}

#current-why-link {
  font-weight: 600;
  color: #ffc759;
}

/* MAIN PAGE SECTION */

#main-cd-players-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: -180px;
  margin-bottom: 0px;
}

.buttons-on-main {
  font-family: 'Essonnes';
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  text-align: center;

  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.main-cd-players {
  position: relative;
  z-index: 1;
}

#blue-inside:hover,
#pink-inside:hover,
#yellow-inside:hover {
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 120px 120px;
}

#main-listen-button {
  position: relative;
  top: 380px;
  left: 30px;
  z-index: 2;
}

#main-products-button {
  position: relative;
  top: 440px;
  left: 30px;
  z-index: 2;
}

#main-why-button {
  position: relative;
  top: 510px;
  left: 30px;
  z-index: 2;
}

/* LISTEN PAGE SECTION */

.listen-overall-flexbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}

.listen-first-half {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 43vw;
}

#listen-cd-player {
  height: 84vh;
  position: relative;
  top: 20px;
  left: 80px;
  z-index: 1;
}

.current-song-container {
  position: relative;
  right: 50px;
  z-index: 2;
  display: block;

  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.current-song-name {
  font-family: essonnes-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;

  margin: 0;
}

.current-by-line {
  font-family: sweet-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  margin: 0;
}

.current-song-info {
  font-family: sweet-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  margin: 25px 0 16px 0;
}

.ssp-heavy {
  font-weight: 800;
}

.listen-second-half {
  width: 46vw;
  padding-left: 30px;
  margin-top: 40px;
}

.modes-container {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid black;
}

.modes-container p {
  font-family: sweet-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.mode-blue {
  color: #7d8cc4;
  font-weight: 500;
}

.cd-selection {
  display: flex;
  flex-wrap: wrap;
  height: 68vh;
  padding-top: 25px;
  overflow-y: scroll;
}

.cd-container {
  height: 262px;
  width: 210px;
}

.cds {
  width: 100%;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.cds:hover {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cd-selection-text {
  position: relative;
  top: -15px;
  z-index: 2;
}

.song-name {
  font-family: essonnes-text, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;

  text-align: center;
  letter-spacing: 0.01em;
  margin: 0;
}

.artist-name {
  font-family: sweet-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  text-align: center;
  letter-spacing: 0.04em;
  margin: 0;
}
